/* #js-pjax-container
  > div
  > div.h-card.col-lg-3.col-md-4.col-12.float-md-left.pr-md-3.pr-xl-6 */

/* #js-pjax-container
  > div
  > div.h-card.col-lg-3.col-md-4.col-12.float-md-left.pr-md-3.pr-xl-6
  > div.clearfix
  > div.vcard-names-container.float-left.col-9.col-md-12.pt-1.pt-md-3.pb-1.pb-md-3.js-sticky.js-user-profile-sticky-fields */

#js-pjax-container
  > div
  > div.h-card.col-lg-3.col-md-4.col-12.float-md-left.pr-md-3.pr-xl-6
  > div.clearfix
  > div.vcard-names-container.float-left.col-9.col-md-12.pt-1.pt-md-3.pb-1.pb-md-3.js-sticky.js-user-profile-sticky-fields
  > e {
  position: relative !important;
}

.name-list,
.noname-list,
.link {
  width: 90%;
  font-size: 14px !important ;
  font-style: normal !important;
  font-weight: 300 !important;
  line-height: 24px !important;
  box-sizing: border-box !important;
  color: #666 !important;
  text-decoration: none !important;
  margin-top: 0px;
  margin-bottom: 2px;
  cursor: pointer;
  display: block !important;
  z-index: 89;
}

#js-pjax-container
  > div
  > div.h-card.col-lg-3.col-md-4.col-12.float-md-left.pr-md-3.pr-xl-6
  > div.clearfix
  > div.vcard-names-container.float-left.col-9.col-md-12.pt-1.pt-md-3.pb-1.pb-md-3.js-sticky.js-user-profile-sticky-fields.is-stuck
  > e
  > span {
  display: none;
  visibility: hidden;
}

#js-pjax-container
  > div
  > div.h-card.col-lg-3.col-md-4.col-12.float-md-left.pr-md-3.pr-xl-6
  > div:nth-child(2)
  > div.vcard-names-container.float-left.col-9.col-md-12.pt-1.pt-md-3.pb-1.pb-md-3.js-sticky.js-user-profile-sticky-fields.is-stuck
  #token-text,
#js-pjax-container
  > div
  > div.h-card.col-lg-3.col-md-4.col-12.float-md-left.pr-md-3.pr-xl-6
  > div:nth-child(2)
  > div.vcard-names-container.float-left.col-9.col-md-12.pt-1.pt-md-3.pb-1.pb-md-3.js-sticky.js-user-profile-sticky-fields.is-stuck
  #submit {
  display: none;
  visibility: hidden;
}

.name-list:hover,
.link:hover {
  text-decoration: underline !important;
}

.form-submit {
  margin-top: 5px;
}

form #token-text {
  box-sizing: border-box;
  width: 70%;
  padding: 2px 12px;
  margin-right: 2%;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
}

form #submit {
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  font-family: inherit;
  padding: 2px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

.dialogContainer {
  display: inline-block;
  position: absolute !important;
  bottom: 22%;
  /* margin-top: -1%; */
  left: -25%;
  z-index: 89;
  min-height: 16%;
  max-height: 47%;
  min-width: 18%;
  max-width: 30%;
  background: white;
  border: 2px solid rgba(27, 31, 35, 0.2);
  border-radius: 2px;
  padding: 0.5%;
  overflow: auto;
  flex-wrap: wrap;
}

.dialogContainer .container {
  box-sizing: border-box;
  height: 100%;
  width: 96%;
  padding-top: 2%;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.content-card {
  height: 48px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 15px;
  width: 12vw;
  border-bottom: 2px solid rgba(27, 31, 35, 0.2);
}

.image {
  float: left;
  display: flex;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.image img {
  height: 100%;
  width: 100%;
}

.close {
  color: rgba(27, 31, 35, 0.2);
  font-size: 10px;
  font-weight: bold;
  float: right;
  height: 12px;
  cursor: pointer;
  margin-bottom: 2%;
}

.close:hover {
  color: rgba(12, 13, 15, 0.2);
}
.username {
  float: right;
  display: flex;
  vertical-align: middle;
  height: 40px;
  width: 70%;
  box-sizing: border-box;
  color: #000000 !important;
  padding-left: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
}

.username a {
  color: #000000 !important;
  text-decoration: none;
}

.username a:hover {
  text-decoration: underline !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (min-width: 1050px) and (max-width: 1255px) {
  .dialogContainer {
    top: 60%;
    left: -24%;
    min-width: 20%;
    max-width: 34%;
    overflow: auto;
    padding: 8px;
  }

  .content-card {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 14vw;
  }
}

@media only screen and (max-width: 1049px) {
  .dialogContainer {
    top: 60%;
    left: -20%;
    min-width: 20%;
    max-width: 44%;
    overflow: auto;
    padding: 8px;
  }

  .content-card {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 18vw;
  }
}

@media only screen and (max-width: 770px) {
  .dialogContainer {
    top: 25%;
    left: 10%;
    min-width: 40%;
    overflow: auto;
    padding: 8px;
  }

  .content-card {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 4px;
    width: 90%;
  }

  .image {
    float: left;
    display: flex;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid black;
  }
}
